# choose correct CUDA version for your system. The example submission was evaluated on CUDA 11.3:
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==2.6.0
torchvision==0.21.0

# for CUDA 10.2, uncomment the following:
# torch
# torchvision

# for CPU only:
#-f https://download.pytorch.org/whl/cpu/torch_stable.html
#torch==2.3.1+cpu
#torchvision==0.18.1+cpu

numpy==2.0.0
IPython==8.34.0
icecream==2.1.4
yacs==0.1.8
iopath==0.1.10
timm==1.0.15
coolname==2.2.0
plotly==6.0.0
pandas==2.2.3
joblib==1.4.2
scikit-learn==1.6.1
pynvml==12.0.0
